@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-theme);
    color: var(--color-text);
    box-shadow: 0 0 20px 0px var(--color-theme);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
  }
}
